/* Styling Scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #16181d; }
::-webkit-scrollbar-thumb { background: #374151; border-radius: 3px; }

/* Background Halus */
.bg-radial-gradient {
    background: radial-gradient(circle at center, #1b1e29 0%, #0f1115 100%);
}

/* Audio Player Customization */
audio {
    filter: invert(100%) hue-rotate(180deg);
    border-radius: 8px;
    height: 40px;
}
